

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  position: absolute;
  top: -15px;
  font-family: sans-serif;
  text-shadow: 0 0 2px  #03e9f4;
  width: 100%;
  padding: 0;
  color: #fff;
  text-align: center;
  z-index: 5;

}

.right-side {
  position: absolute;
  width: 300px;
  border-left: 1px solid green;
  right: 0;
  top: 0px;
  text-align: center;
  z-index: 4;
  min-height: 100vh;
  height: 100vh;
  padding-top: 50px;
  overflow-y: auto;
  background-color: #282c34;

}

.left-side {
  left: 0;
  top: 50px;

  position: relative;
  width: calc(100% - 300px);
}

@media screen and (max-width: 1175px) {
  .left-side {
    width: 100%;
  }
  .right-side {
    display: none;
  }

  header {
    font-size: 25px;
    top: -20px;
    left: 15px;
    text-align: left;
  }
}

@media screen and (max-width: 614px) {
  .right-side {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .left-side, .right-side {
    top: 75px;
  }
}