

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  position: absolute;
  top: -15px;
  font-family: sans-serif;
  text-shadow: 0 0 2px  #03e9f4;
  width: 100%;
  padding: 0;
  color: #fff;
  text-align: center;

}

.right-side {
  position: absolute;
  width: 300px;
  border: 1px solid green;
  right: 0;
  top: 50px;
  text-align: center;
}

.left-side {
  left: 0;
  top: 50px;

  position: relative;
  width: calc(100% - 300px);
  border:1px solid red;
}

.main-content h5 {
  font-size: 16px;
  color: #03e9f4;
}