.right-side {
    font-size: 22px;
    font-family: sans-serif;
}
.timer {
    text-align: left;
    margin-top: 5px;
}
.timer h6{
    width: 80%;
    left: 10%;
    position: relative;
    float: left;
    padding: 25px 5px;
    margin: -5px;
    color: #03e9f4;
    font-size: 15px;
}
.right-side-timer-text {
    float: right;
    color: #fff;
}

.right-side button {
    width: 80%;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    left: 10%;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #03e9f4;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px
    
}

button:hover {
  background: #03e9f4;
  color: #fff;
}

.pause button{
    margin-left: -20%;
    margin-top: -10px;

}

.increment {
    font-size: 16px;
    float: right;
    width: 100%;
    left: 10%;
    position: relative;
    margin: 15px 0px;

}
.increment span {
    margin-right: 25px;
    float: left;
    color: #03e9f4;
}

/*
td:nth-child(1), th:nth-child(1) {
    display: none;
}*/

.outputView, .what-was-planted {
    width: 100%;
    height: auto;
    min-height: 50px;
    margin-top: 15px;
    text-align: left;
}

.outputView {
    margin-top: 0;
}
.outputView h6, .what-was-planted h6 {
    text-align: left !important;
    margin-left: 10%;
}

.totals {
    width: 100%;
    text-align: center;
    color: #03e9f4;
    padding: 0px;
    margin: 1px 0px;
    

}
ul {
    list-style: none;
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    left: 10%;
    position: relative;
    padding-top: 0px;
    padding-left: 0;
}

li {
    margin: 10px;
    font-family: sans-serif;
    cursor: pointer;
}


.right-span {
    right: 65px;
    position: relative;
    float: right;
}

.what-was-planted-reveal {
    margin: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #03e9f4;
    font-family: 'Roboto';
    cursor: pointer;
}

.totals-ul li .left-span {
    text-transform: capitalize;
}

.openRight {
    z-index: 5;
    position: absolute;
    right: 25px;
    top: 34px;
    font-size: 31;
    display: none;
    
}

@media screen and (max-width: 1175px) {
    .openRight {
        display: block;
    }
}

@media screen and (max-width: 614px) {
    .right-side ul {
        width: 80%;
    }

    .right-side ul .right-span {
        right: 0;
    }
  }
@media screen and (max-width: 459px ) {
    .openRight {
        top: 61px;
    }
}